SECRET=your_secret_here
PUBLIC_BACKEND_URL=http://localhost:8000
INVITATION_KEYS=901563b82fa7adcbbc2a7e885f143c57

DB_TYPE=postgresql
POSTGRES_USER=myuser
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=tanker24
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

