SECRET=your_secret_here
PUBLIC_BACKEND_URL=http://localhost:8000

DB_TYPE=postgresql
POSTGRES_USER=myuser
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=tanker24
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

